body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
/**Typography**/
h1{
    font-size: 60px;
}
h2{
    font-size: 50px;
    margin: 0;
}
h3{
    font-size: 20px;
}
p{
    font-size: 18px;
}

/** Main Container **/
.flexbox-container{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 100%;
}
.hero{
    background-color: #1D2A47;
}